body {
	margin: 0; 
	padding: 0;
}

.myHeader {
	padding: 5px;
	text-align: center;
	background-color: rgb(75, 200, 209);
}
.myFooter {
	position: absolute;
    bottom: 0;
	padding: 5px;
	text-align: center;
	background-color: rgb(75, 200, 209);
	width: 100%;
}

 